<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Category List</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.categoryId}">1</td>
                <td th:text="${category.name}">Sci-Fi</td>
                <td>
                    <form th:action="@{/deletecategory/{id}(id=${category.categoryId})}" method="post">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/addcategory" class="btn btn-success">Add Category</a>
</body>

</html>