<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Book</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h1>Edit Book</h1>
    <form th:action="@{/edit/{id}(id=${book.id})}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{id}" />
        Title: <input type="text" th:field="*{title}" /><br />
        Author: <input type="text" th:field="*{author}" /><br />
        Publication Year: <input type="text" th:field="*{publicationYear}" /><br />
        ISBN: <input type="text" th:field="*{isbn}" /><br />
        Price: <input type="text" th:field="*{price}" /><br />
        <input type="submit" value="Save" />
    </form>
</body>

</html>